<h1>Profile</h1>
<h2> Hello, <%= @user.email %></h2>
<form action="<%= bands_url %>" method="GET">
    <input type="submit" value="Check out the bands">
</form>
<%# <p>Find me in app/views/users/show.html.erb</p> %>
